force-app/main/default/flows/User_Inactivity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_User_s</name>
        <label>Send Email Alert to User(s)</label>
        <locationX>314</locationX>
        <locationY>972</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varSenderAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Emails_to_Collection</name>
        <label>Add Emails to Collection</label>
        <locationX>314</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Alert_to_User_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deactivate_Variables</name>
        <label>Set Deactivate Variables</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeactivatedSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeactivatedBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deactivate_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warning_Date</name>
        <label>Set Warning Date</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.Login_Warning_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarningSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarningBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Action_to_Take</name>
        <label>What Action to Take?</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>User_License_Type_Not_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <label>User License Type Not Salesforce</label>
        </rules>
        <rules>
            <name>Warn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formInactiveFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Login_Warning_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Warning_Date</targetReference>
            </connector>
            <label>Warn</label>
        </rules>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Login_Warning_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formInactiveFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deactivate_Variables</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
        <rules>
            <name>Clear_Warning_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formInactiveFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Login_Warning_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_0_0_0</targetReference>
            </connector>
            <label>Clear Warning Date</label>
        </rules>
    </decisions>
    <description>Warns and then deactivates users who have been inactive for more than 60 days or have not logged in for 30 days since creation.</description>
    <environments>Default</environments>
    <formulas>
        <name>form1WeekLater</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>formInactiveFlag</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!$Record.Keep_Active__c}),
OR(
DATEVALUE({!$Record.LastLoginDate}) &lt; {!$Flow.CurrentDate} - 60,
AND(
ISNULL(DATEVALUE({!$Record.LastLoginDate})),
DATEVALUE({!$Record.CreatedDate}) &lt; TODAY() - 30
)
)
)</expression>
    </formulas>
    <formulas>
        <name>formNullDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>User Inactivity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Inactivity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>314</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Emails_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_User</name>
        <label>Deactivate User</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Login_Warning_Date__c</field>
            <value>
                <elementReference>formNullDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_0_0_0</name>
        <label>Update User</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>Login_Warning_Date__c</field>
            <value>
                <elementReference>formNullDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Action_to_Take</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054w00000BjPhrAAF</stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2021-05-03</startDate>
            <startTime>08:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DeactivatedBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;Your Salesforce account in org {!$Organization.Name} has been deactivated due to inactivity. If you still require access to this account, contact [SUPPORT EMAIL]. Thanks!&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;[AWESOME SALESFORCE TEAM NAME]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DeactivatedSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Warning - Salesforce Account Deactivated</text>
    </textTemplates>
    <textTemplates>
        <name>WarningBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;Your Salesforce user in org {!$Organization.Name} account has been flagged for inactivity. We will deactivate it on {!form1WeekLater} if you do not log in before that date.&lt;/p&gt;&lt;p&gt;If you still require access to this account, log in to prevent disruption. Detailed instructions for logging in can be found [LINK TO INSTRUCTIONS]. Please contact [SUPPORT EMAIL] if you have any issues. Thanks!&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;[AWESOME SALESFORCE TEAM NAME]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WarningSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Warning - Salesforce Account Inactivity Alert</text>
    </textTemplates>
    <variables>
        <name>varBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set this to be one of your organization wide addresses or any other applicable one that works with your sender type preference.</description>
        <name>varSenderAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
