force-app/main/default/flows/User_History_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varPlatformEventCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPlatformEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Login_Warning_Date_Changed_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varPlatformEventCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPlatformEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Platform_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IsActive_Platform_Event_Values</name>
        <label>Assign IsActive Platform Event Values</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varPlatformEvent.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.Changed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.Old_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Login_Warning_Date_Platform_Event_Values</name>
        <label>Assign Login Warning Date Platform Event Values</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>varPlatformEvent.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Login Warning Date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.Changed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.Old_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Login_Warning_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformEvent.New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Login_Warning_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Active_Changed_0_0</name>
        <label>Was IsActive Changed?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Was_Login_Warning_Date_Changed_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>IsActive_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsActive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IsActive_Platform_Event_Values</targetReference>
            </connector>
            <label>IsActive Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Login_Warning_Date_Changed_0_0</name>
        <label>Was Login Warning Date Changed?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Platform_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Login_Warning_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Login_Warning_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Login_Warning_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Login_Warning_Date_Platform_Event_Values</targetReference>
            </connector>
            <label>Login Warning Date Changed?</label>
        </rules>
    </decisions>
    <description>Tracks changes to User fields by creating User History records.</description>
    <environments>Default</environments>
    <interviewLabel>User History Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User History Tracker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Events</name>
        <label>Create Platform Events</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputReference>varPlatformEventCollection</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Active_Changed_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Login_Warning_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varPlatformEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_History_Field_Definition__e</objectType>
    </variables>
    <variables>
        <name>varPlatformEventCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_History_Field_Definition__e</objectType>
    </variables>
</Flow>
